<div flex layout="row" ng-cloak style="min-height: 75px; max-height: 80px">

    <div flex="0" flex-gt-sm="33"></div>
    <md-content flex layout-padding layout="column" layout-align="start none">
        <form ng-submit="$event.preventDefault()">
            <md-autocomplete
                    ng-disabled="ctrl.isDisabled"
                    md-no-cache="ctrl.noCache"
                    md-selected-item="ctrl.selectedItem"
                    md-search-text-change="ctrl.searchTextChange(ctrl.searchText)"
                    md-search-text="ctrl.searchText"
                    md-selected-item-change="ctrl.selectedItemChange(item)"
                    md-items="item in ctrl.querySearch(ctrl.searchText)"
                    md-item-text="item.name"
                    md-min-length="1"
                    placeholder="Rechercher un risque"
                    md-menu-class="autocomplete-custom-template"
                    md-match-case-insensitive="true">
                <md-item-template>
                      <span class="item-title">
                        <md-icon md-svg-icon="{{item.type}}"></md-icon>
                      </span>
                      <span class="item-content">
                          <strong>{{item.name}}</strong>
                      </span>
                </md-item-template>
            </md-autocomplete>
        </form>
    </md-content>

    <div flex="0" flex-gt-sm="33"></div>
</div>

<div flex layout="row" ng-cloak id="content">

    <div flex="0" flex-gt-sm="25"></div>

    <md-content flex layout-padding layout="column" ng-show="ctrl.selectedItem">

        <h2>{{ctrl.selectedItem.name}}
            <md-button md-no-ink ng-click="sc.showSinistreDescription(ctrl.detail)">
                <md-icon md-svg-icon="info"></md-icon>
            </md-button>
        </h2>
        <md-progress-circular md-mode="indeterminate"
                              ng-show="ctrl.selectedItem && !ctrl.detail"></md-progress-circular>

            <span ng-if="ctrl.detail">

            <p>
                <div ng-if="ctrl.detail.covered">
                    <md-icon md-svg-icon="ok"></md-icon>
                    Vous êtes couvert pour ce risque par le(s) contrat(s) suivant(s) :

                    <div ng-show="ctrl.detail.contracts" ng-repeat="contract in ctrl.detail.contracts">
                        <h3>{{contract.name}}</h3>

                        Numéro de police : {{contract.id}}<br>
                        Type du contrat : {{contract.type}}<br>
                        {{contract.descType}}<br>
                        Votre prime annuelle est de <strong>{{contract.prime}}</strong>.

                        <br><br>

                        <div ng-show="contract.options"
                             ng-repeat="option in contract.options">
                            <div layout="row">
                                <div flex>{{option.name}}</div>
                                <div flex>
                                    <md-button>Modifier l'option</md-button>
                                </div>
                            </div>

                            <div layout="row">
                                <div flex>Somme d'assurance</div>
                                <div flex>
                                    <md-select ng-model="option.sommeAssurance"
                                               ng-model-options="{trackBy: '$value.id'}">
                                        <md-option ng-value="somme"
                                                   ng-repeat="somme in option.sommesAssuranceAvailable">{{somme.name}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>

                            <div>
                                <md-button>Enregistrer</md-button>
                            </div>
                        </div>
                    </div>

                </div>

                <!--Pas couvert !-->
                <div ng-if="!ctrl.detail.covered">

                    <md-icon md-svg-icon="notok"></md-icon>
                    <strong>Vous n'êtes pas couvert pour ce risque.</strong>
                    <br>
                    {{ctrl.detail.coverText}}

                    <div ng-show="ctrl.detail.contracts" ng-repeat="contract in ctrl.detail.contracts">
                        <h3>{{contract.name}}</h3>

                        Numéro de police : {{contract.id}}<br>
                        Type du contrat : {{contract.type}}<br>
                        {{contract.descType}}<br>
                        Votre prime annuelle est de <strong>{{contract.prime}}</strong>.

                        <br><br>

                        <h3>Souscrire à une option</h3>

                        <div ng-show="contract.optionsAvailable"
                             ng-repeat="option in contract.optionsAvailable">
                            <div layout="row">
                                <div flex>{{option.name}}</div>
                            </div>

                            <div layout="row">
                                <div flex>Somme d'assurance</div>
                                <div flex>
                                    <md-select ng-model="option.sommeAssurance"
                                               ng-model-options="{trackBy: '$value.id'}">
                                        <md-option ng-value="somme"
                                                   ng-repeat="somme in option.sommesAssuranceAvailable">{{somme.name}}
                                        </md-option>
                                    </md-select>
                                </div>
                            </div>

                            <div>
                                <div flex>
                                    <md-button>Ajouter l'option</md-button>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div ng-show="ctrl.detail.insuranceAvailable"
                         ng-repeat="insurance in ctrl.detail.insuranceAvailable">
                        <br><a ng-href="{{insurance.link}}">{{insurance.name}}</a>
                    </div>

                </div>
                </p>

        </span>
    </md-content>

    <div flex="0" flex-gt-sm="25"></div>
</div>